node_modules/
dist/
build/
.env
.env.
storage/.json
storage/*.jsonl
__pycache__/
.pycache/
.venv/
*.lock
*.log
*.sqlite
*.db
*.pem
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.ico
*.mp4
*.mov
*.pdf
*.ttf
*.otf
*.woff
*.woff2
*.zip
